Answer No.1 -->

In [1]:
name = 'Mohil'

l = [1,2,3,True,'sudh',3.40,3+4j]

num = 3.456

t = (1,2,3,4,5)

Answer No.2 -->

 1.-> str 
 2.-> error
 3.-> list
 4.-> int

Answer No.3 -->

(i) / -> This is used for division of 2 numbers.
         for example : 6/2 = 3

In [12]:
6/2

3.0

(ii) % -> It is a modulus operator. It will give remainder of division. for example : 5 % 3 = 2

In [13]:
5%3

2

(iii) // -> This operator first divide the value and then takes the greatest integer function. for example : 9 // 2 = 4

In [14]:
9 // 2

4

(iv) ** -> It is a exponent operator. for example : 2 ** 3 = 8

In [15]:
2 ** 3

8

Answer No.4 -->

In [16]:
l = [1,2,3,4,5, True , 'Mohil', 3.456 , 4+5j , 'shubh']
for i in l :
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
True
<class 'bool'>
Mohil
<class 'str'>
3.456
<class 'float'>
(4+5j)
<class 'complex'>
shubh
<class 'str'>

Answer No. 5 -->

In [8]:
A = 50
B = 10
C = A/B
while A%B == 0 :
     print(f"A is divisible by B by {C} times")
     break
else :
    print('A is not completely divisible by B')

A is divisible by B by 5.0 times

Answer No.6 -->

In [16]:
l = list(range(1,26))
for i in l :
    if i % 3 == 0 :
        print(f"{i} is divisible by 3")
    else :
        print(f"{i} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

Answer No. 7 -->

Mutable Object are used those objects in which we can use  items asignments through index's.
for example : list are mutable.

In [17]:
l = [1,2,3,4,5]
l[0] = 2
l

[2, 2, 3, 4, 5]

we can clearly see by using index we can change the value 1 to 2.

But we can't use this concept in immutable objects.
for exmaple: string , tuple  by immutable.

In [18]:
t = (1,2,3,4,5)
t[0] = 2
t

TypeError: 'tuple' object does not support item assignment

In [19]:
s = "Mohil"
s[0] = 'S'
s

TypeError: 'str' object does not support item assignment

we clearly see that we can't assign items using index's.
that is the most common difference between mutable and immutable objects.