Answer No. 1 -->

def keyword is used to create a function in python language.

In [3]:
def test() :
    l1 = []
    for i in range(1 , 25) :
        if (i % 2) != 0 :
            l1.append(i)
    return l1

In [4]:
test()

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

Here we clearly see the sequence of odd numbers in range (1,25)

Answer No.2 -->

*args & **kwargs both are used when we want to give set of arguments as an input.
These arguments store in tuple when we use *args.
Similiarly arguments store in dictionary when we use *kwargs.

In [30]:
def test_1(*args) :
    return args

type(test_1())

tuple

In [31]:
test_1(1,2,3,4,'mohil')

(1, 2, 3, 4, 'mohil')

we clearly see from above example that on using *args it can store given input in an tuple.

In [9]:
def test_2(**kwargs) :
    return kwargs

In [23]:
test_2(name = 'mohil' , second_name = 'dubey' , c = 4.60)

{'name': 'mohil', 'second_name': 'dubey', 'c': 4.6}

In [24]:
type(test_2())

dict

we clearly see from above example that on using **kwargs it can store given input in an dictionary.

Answer No.3-->

iterators are mainly used to allow for efficient access to elements in a sequence one at a time.
We can print elements one by one using 'next' inbuilt function . 
First of all we have to convert the data types of given into iterator by using 'iter' inbuilt function.

In [2]:
l = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
l1 = iter(l)

In [1]:
def test_3(l) :
        for i in l:
            yield i

In [3]:
for i in range(5) :
    print(next(test_3(l1)))

2
4
6
8
10

Answer No. 4 -->

Generator function is used to give output as an sequence of values , not give a single value. As normal function is give single output as it uses 'return' keyword. but in generator  we will used 'yield' keyword.

Main aim of yield keyword is to don't allocate space in memory for values it simply keep stores that values inside function and when we apply loop we will get the sequence or set of values.

In [1]:
l = [1,2,3,4,5]

def test_4(n) :
    a,b = 0,1
    for i in range(n) :
        yield a 
        a , b = b , a+b

In [3]:
for i in test_4(10) :
    print(i)

0
1
1
2
3
5
8
13
21
34

Answer No. 6 -->

In [2]:
def fibonacci() :
    a , b = 0,1
    while True :
        yield a 
        a , b = b , a+b

In [3]:
fib = fibonacci()

In [4]:
for i in range(10) :
    print(next(fib))

0
1
1
2
3
5
8
13
21
34

Answer No. 7 -->

In [6]:
s = 'pwskills'

In [10]:
l1=[]
def test_9(s) :
    for i in s :
        l1.append(i)
    return l1

In [11]:
test_9(s)

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

Answer No. 8 -->

In [28]:
def palindrome(n) :
    while True :
        n1 = str(n)
        if str(n) == (n1[::-1]) :
            return n,"is a palindrome num"
        else :
            return n," is not a palindrome"

In [29]:
palindrome(121)

(121, 'is a palindrome num')

In [31]:
palindrome(10)

(10, ' is not a palindrome')

we clearly see that in first output we will give input as 121 whose reverse is also 121 hence it is a palindrome no.
But in second output we will give input as 10 whose reverse is not equal to 10 so it is not an palindrome no.

Answer No. 9 -->

In [35]:
l = list(range(1,101))

In [42]:
l1 =[]
def odd() :
    for i in l :
        if i%2 != 0 :
            l1.append(i)
    return l1

In [45]:
odd()

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99,
 1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]